/*
 *  (c) YanoCreative 2014
 *  
  */

html { background-color: #F5F5F5; }
body {
  background-color: #dcd8d1;
  font-family: 'lincoln';
}

.wrapper {
  max-width: 1024px;
  margin: 0px auto;
}

#skrollr-body {
  height: 100%;
  position: relative;
  width: 100%;
}

/*Section 1 styles*/
#section1 {
  background-image: url("../img/white-bg1.jpg");
  text-align: center;
  height: 600px;
}
#button1 {
  display: inline-block;
  cursor: pointer;
  /*opacity: 0.5;*/
  background-image: url("../img/down-arrow-shadow.png");
  width: 96px;
  height: 96px;
}

/*Section 2 styles*/
#section2 {
  height: 640px;
}
#section2-left {
  float: left;
  background-image: url("../img/white-tree.jpg");
  width: 40%;
  height: 640px;
}
#section2-right {
  float: right;
  width: 60%;
}
#section2-right-top {
  width: 100%;
  height: 280px;
  background-image: url("../img/white-brush-wood.jpg");
  overflow: hidden;
}
#section2-right-top-brush {
  width: 60%;
  max-width: 614px; /* 1024 x 60% = 614.4px */
  height: inherit;
  position: absolute;
  background-image: url("../img/white-brush.png");
  background-repeat: no-repeat;
  overflow: hidden;
}
#section2-right-bottom {
  width: 100%;
  height: 360px;
  background-image: url("../img/white-trees.jpg");
}

/*Section 3 styles*/
#section3 {
  display: block;
  background-image: url("../img/white-bg2.jpg");
  background-size: cover;
  width: 100%;
  height: 640px;
  text-align: center;
}


/* color divs */
.black-div { background-color: rgba(0,0,0,.75); }
.black-div:hover { background-color: rgba(0,0,0,1); }
.white-div { background-color: rgba(255,255,255,.75); }
.white-div:hover { background-color: rgba(255,255,255,1); }
.grey-div { background-color: rgba(127,127,127,.75); }
.grey-div:hover { background-color: rgba(127,127,127,1); }
.red-div { background-color: rgba(114,28,8,.75); }
.red-div:hover { background-color: rgba(114,28,8,1); }
.natural-div { background-color: rgba(191,157,101,.75); }
.natural-div:hover { background-color: rgba(191,157,101,1); }
.brown-div { background-color: rgba(84,32,0,.75); }
.brown-div:hover { background-color: rgba(84,32,0,1); }
.wood-div { background-image: url('../img/sqr-wood-dark.png'); }
.wood-div:hover { background-image: url('../img/sqr-wood.png'); }

h1 {
  margin: 0px;
  padding: 216px 0px 8px 0px;
  font-size: 160px;
  text-shadow: 0px 0px 30px #000000;
  text-transform: uppercase;
  color: #FFFFFF;
}
h2 {
  margin: 0px;
  padding: 64px 0px 0px 0px;
  color: #FFF;
  font-size: 60px;
  text-shadow: 0px 0px 15px #000000;
  text-transform:uppercase;
}
h3 {
  margin: 0px;
  padding: 0px 0px 16px 0px;
  color: #FFF;
  font-size: 30px;
  text-shadow: 0px 0px 7px #000000;
  text-transform: uppercase;
}
p {
  margin: 0px 0px 16px 0px;
  text-align: justify;
  font-weight: normal;
  font-size: 14px;
  color: #777777;
}
.breaker { border-bottom: 1px solid #d9d9d9; }

@media(max-width:480px){}
@media(max-width:640px){
  #section2{
    height: 320px;
  }
  #section2-left {
    height: 320px;
  }
  #section2-right-top {
    height: 140px;
    background-size: auto 140px;
  }
  #section2-right-top-brush {
    height: 140px;
    background-size: auto 140px;
  }
  #section2-right-bottom {
    height: 180px;
  }
}
@media(max-width:1024px){
  
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 25, 2014 */
@font-face {
  font-family: 'lincoln';
  src: url('../fonts/abrahamlincoln-webfont.eot');
  src: url('../fonts/abrahamlincoln-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abrahamlincoln-webfont.woff') format('woff'),
       url('../fonts/abrahamlincoln-webfont.ttf') format('truetype'),
       url('../fonts/abrahamlincoln-webfont.svg#ubunturegular') format('svg');
  font-weight: normal;
  font-style: normal;
}